.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

:root{
    --colorGrey: rgb(87, 87, 87)
}

.container-title span{
    color: #fff;
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 600;

    animation: bright 2s ease-in-out infinite;
}

.container-title span:nth-of-type(1){
    animation-delay: .25s;
}

.container-title span:nth-of-type(2){
    animation-delay: .25s;
}

.container-title span:nth-of-type(3){
    animation-delay: .25s;
}

.container-title span:nth-of-type(4){
    animation-delay: .55s;
}

.container-title span:nth-of-type(5){
    animation-delay: .55s;
}

.container-title span:nth-of-type(6){
    animation-delay: .55s;
}

#root{
    background-color: #bee9cb;
}

@keyframes bright{
    0%{
        color: #508b50;
        text-shadow: 0 0 12px #508b50, 0 0 50px #508b50, 0 0 100px #508b50;
    }
    10%, 90%{
        color: var(--colorGrey);
        text-shadow: none;
    }
}
