.chart-container {
  border-radius: 0.625rem;
  background-color: #f3f3f3;
}

@media (max-width: 48rem) {
  .chart-container {
    border-radius: 0.625rem;
    margin: .9375rem auto;
    background-color: #f3f3f3;
  }
}
